@model IEnumerable<cw12.Models.Patiens>

@{ 
    Layout = "../Shared/_Layout.cshtml";
}
<h1>Lista pacjentów</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Data Urodzenia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.IdPatient</td>
                <td>@p.FirstName</td>
                <td>@p.LastName</td>
                <td>@p.BirthDate</td>
            </tr>
        }
    </tbody>
</table>

